<section id="sidebar" ng-controller="CategoryCtr">
    <div class="sidebar affix">
        <div class="list-group">
            <ul class="parent-menu affix">
                    <% if(categories) {%>
                        <% _.each(categories, function(category) {%>
                            <li>
                            <a href="/category/<%= category.id %>" class="list-group-item">
                                <span class="icon-sidebar">
                                    <img src="/images/category/<%= category.image %>" alt="">
                                </span><%= category.name %></a>
                                
                                    
                                        
                                            <ul class="child-menu">  
                                                <li>
                                                    <a href="/category/<%= category.id %>"><h4><%= category.name %></h4></a>
                                                </li> 
                                                <% if(category.children.length > 0) {%>
                                                    <% _.each(category.children, function(child) {%>
                                                        <li>
                                                            <a href="/category/<%= child.id %>"><%= child.name %></a>
                                                        </li>
                                                    <% });%>
                                                <% } %>    
                                            </ul>
                                        
                                
                            </li>


                        <% });%>
                    <% } %>
                
            </ul>
        </div>
    </div>
</section>
<div id="overlay">
    &nbsp;
</div>
<!-- sidebar -->