<!-- header -->
<% include ../partials/header %>
<!-- end header -->
                <!-- /.navbar-top-links -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <!-- menu -->
                        <% include ../partials/menu %>
                        <!-- end header -->
                    </div>
                </div>
            </nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header">Product</h4>
                    </div>
                </div>
                <!-- CONTENT -->
                <!-- /.row -->
                <div class="row">
                  <div class="col-lg-12">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                                Edit Product
                          </div>
                          <!-- /.panel-heading -->
                          <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="form" role="form" action="/dashboard/product/update/<%= product.id %>" method="post" >
                                             <div class="row">
                                                <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Product Name:</label>
                                                <input class="form-control" value="<%= product.name %>" name="name"  placeholder="Enter product name">
                                                <!-- <p class="help-block">Example block-level help text here.</p> -->
                                            </div>
                                            </div>
                                            <div class="col-md-6">
											<div class="form-group">
													<label>Choose Category:</label>
													<select class="form-control" name="categoryId">
                                                        <% categories.forEach(function(category){ %>
                                                            <option value="<%= category.id %>"><%= category.name %></option>
                                                        <% }) %>
													</select>
                                            </div>
                                            </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Price:</label>
                                                        <input class="form-control" name="price" value="<%= product.price %>" placeholder="Enter price">
                                                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                                                    </div>
                                                 </div>
                                                 <div class="col-md-6">
                                                    <div class="form-group">
        													<label>Type:</label>
        													<select class="form-control" name="type" value="<%= product.type %>" >
                                                                <option value="case">Case</option>
                                                                <option value="kg">Kg</option>
        													</select>
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="form-group" value="<%= product.stock %>" >
                                                <label class="radio-inline"><input type="radio" name="stock" value="In Stock">In Stock</label>
                                                <label class="radio-inline"><input type="radio" name="stock" value="Out Stock">Out Stock</label>
                                            </div>
											<div class="form-group">
                                                <label>Description:</label>
                                                <textarea class="form-control" name="description" rows="3"><%= product.description %></textarea>
											</div>
                                           <div class="form-group">
                                                <label>Image:</label>
                                                <ul class="list-inline">
                                                    <li><input type="file" name="files"></li>
                                                    <li><input type="file" name="files"></li>
                                                    <li><input type="file" name="files"></li>
                                                    <li><input type="file" name="files"></li>
                                                    <li><input type="file" name="files"></li>
                                                </ul>
                                                
											</div>
											<div class="col-md-offset-5 col-md-5">
                                                <input type="submit" value="Submit" class="btn btn-success">
												<button type="reset" class="btn btn-primary">Reset</button>
											</div>
                                        </form>
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                          <!-- /.panel-body -->
                      </div>
                      <a href="<%=sails.getBaseUrl()%>/dashboard/product"><button type="button" class="btn btn-info">Back</button></a>  
                      <br>
                      <br>
                      <!-- /.panel -->
                  </div>
                  <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- END CONTENT -->
            </div>   
<!-- header -->
<% include ../partials/footer %>
<!-- end header -->
       